<converse-chat-toolbar class="chat-toolbar no-text-select" is_groupchat="" show_emoji_button="" show_send_button="" show_toolbar="" message_limit="0">
  <span class="toolbar-buttons">
    <converse-emoji-dropdown>
      <div class="dropup">
        <button class="toggle-emojis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Insert emojis">
          <converse-icon class="fa fa-smile " size="1em" color="var(--muc-toolbar-btn-color)" path-prefix="./dist/">
            <svg style="width: 1em; height: 1em; fill: rgb(126, 126, 126);">
              <use href="#icon-smile"></use>
            </svg>
          </converse-icon>
        </button>
        <div class="dropdown-menu">
          <converse-emoji-picker current_category="smileys" current_skintone="" query="">
            <div class="emoji-picker__header">
              <input class="form-control emoji-search" name="emoji-search" placeholder="Search">
              <ul>
                <li data-category="smileys" class="emoji-category smileys picked" title="Smileys and emotions">
                  <a class="pick-category" href="#emoji-picker-smileys" data-category="smileys">
                    <!--?lit$36149099021$-->😀
                  </a>
                </li>
                <li data-category="people" class="emoji-category people " title="People">
                  <a class="pick-category" href="#emoji-picker-people" data-category="people">
                    <!--?lit$36149099021$-->👍
                  </a>
                </li>
                <li data-category="activity" class="emoji-category activity " title="Activities">
                  <a class="pick-category" href="#emoji-picker-activity" data-category="activity">
                    <!--?lit$36149099021$-->⚽
                  </a>
                </li>
                <li data-category="travel" class="emoji-category travel " title="Travel">
                  <a class="pick-category" href="#emoji-picker-travel" data-category="travel">
                    <!--?lit$36149099021$-->🏍
                  </a>
                </li>
                <li data-category="objects" class="emoji-category objects " title="Objects">
                  <a class="pick-category" href="#emoji-picker-objects" data-category="objects">
                    <!--?lit$36149099021$-->💣
                  </a>
                </li>
                <li data-category="nature" class="emoji-category nature " title="Animals and nature">
                  <a class="pick-category" href="#emoji-picker-nature" data-category="nature">
                    <!--?lit$36149099021$-->🌈
                  </a>
                </li>
                <li data-category="food" class="emoji-category food " title="Food and drink">
                  <a class="pick-category" href="#emoji-picker-food" data-category="food">
                    <!--?lit$36149099021$-->🌭
                  </a>
                </li>
                <li data-category="symbols" class="emoji-category symbols " title="Symbols">
                  <a class="pick-category" href="#emoji-picker-symbols" data-category="symbols">
                    <!--?lit$36149099021$-->🎵
                  </a>
                </li>
                <li data-category="flags" class="emoji-category flags " title="Flags">
                  <a class="pick-category" href="#emoji-picker-flags" data-category="flags">
                    <!--?lit$36149099021$-->🇦🇨
                  </a>
                </li>
                <li data-category="custom" class="emoji-category custom " title="Stickers">
                  <a class="pick-category" href="#emoji-picker-custom" data-category="custom">
                    <!--?lit$36149099021$-->
                    <img class="emoji" loading="lazy" draggable="false" title=":cuppy:" alt=":cuppy:" src="./packages/stickers/cuppy/01_cuppy_smile.png">
                  </a>
                </li>
              </ul>
            </div>
            <!--?lit$36149099021$-->
            <div class="emoji-skintone-picker">
              <ul>
                <!--?lit$36149099021$-->
                <li data-skintone="tone1" class="emoji-skintone ">
                  <a class="pick-skintone" href="#" data-skintone="tone1">
                    <!--?lit$36149099021$-->🏻
                  </a>
                </li>
                <li data-skintone="tone2" class="emoji-skintone ">
                  <a class="pick-skintone" href="#" data-skintone="tone2">
                    <!--?lit$36149099021$-->🏼
                  </a>
                </li>
                <li data-skintone="tone3" class="emoji-skintone ">
                  <a class="pick-skintone" href="#" data-skintone="tone3">
                    <!--?lit$36149099021$-->🏽
                  </a>
                </li>
                <li data-skintone="tone4" class="emoji-skintone ">
                  <a class="pick-skintone" href="#" data-skintone="tone4">
                    <!--?lit$36149099021$-->🏾
                  </a>
                </li>
                <li data-skintone="tone5" class="emoji-skintone ">
                  <a class="pick-skintone" href="#" data-skintone="tone5">
                    <!--?lit$36149099021$-->🏿
                  </a>
                </li>
              </ul>
            </div>
          </converse-emoji-picker>
        </div>
      </div>
    </converse-emoji-dropdown>
    <!--?lit$36149099021$-->
    <button title="Choose a file to send">
      <converse-icon class="fa fa-paperclip" size="1em" color="var(--muc-toolbar-btn-color)">
        <svg style="width: 1em; height: 1em; fill: rgb(126, 126, 126);">
          <use href="#icon-paperclip"></use>
        </svg>
      </converse-icon>
    </button>
    <input type="file" class="fileupload" multiple="" style="display:none">
    <!--?-->
    <button class="toolbar-utilities-refresh" title="Hide chat and show home page">
      <converse-icon class="fa fa-minus" size="1em" style="width:18px; height:18px; fill:var(--muc-toolbar-btn-color);">
        <svg style="width: 18px; height: 18px; fill: var(--muc-toolbar-btn-color);">
          <use href="#icon-minus"></use>
        </svg>
      </converse-icon>
    </button>
    <button class="toolbar-utilities-scroll" title="Scroll to the bottom">
      <converse-icon class="fa fa-angle-double-down" size="1em" style="width:18px; height:18px; fill:var(--muc-toolbar-btn-color);">
        <svg style="width: 18px; height: 18px; fill: var(--muc-toolbar-btn-color);">
          <use href="#icon-angle-double-down"></use>
        </svg>
      </converse-icon>
    </button>
    <button class="toolbar-utilities-thrash" title="Trash chat history">
      <converse-icon class="far fa-trash-alt" size="1em" style="width:18px; height:18px; fill:var(--muc-toolbar-btn-color);">
        <svg style="width: 18px; height: 18px; fill: var(--muc-toolbar-btn-color);">
          <use href="#icon-trash-alt"></use>
        </svg>
      </converse-icon>
    </button>
    <button class="toolbar-utilities-refresh" title="Refresh chat history">
      <converse-icon class="fa fa-sync" size="1em" style="width:18px; height:18px; fill:var(--muc-toolbar-btn-color);">
        <svg style="width: 18px; height: 18px; fill: var(--muc-toolbar-btn-color);">
          <use href="#icon-sync"></use>
        </svg>
      </converse-icon>
    </button>
    <button class="plugin-jitsimeet" title="Jitsi Meet">
      <svg viewBox="0 0 32 32" style="width:18px; height:18px; fill:var(--muc-toolbar-btn-color);">
        <path d="M22.688 14l5.313-5.313v14.625l-5.313-5.313v4.688c0 .75-.625 1.313-1.375 1.313h-16C4.563 24 4 23.437 4 22.687V9.312c0-.75.563-1.313 1.313-1.313h16c.75 0 1.375.563 1.375 1.313V14z"></path>
      </svg>
    </button>
    <button class="plugin-search" title="Search conversations for keywords">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 16 16" xml:space="preserve" style="width:18px; height:18px; fill:var(--muc-toolbar-btn-color);">
        <g>
          <path d="M 2,30l 18,0 c 1.104,0, 2-0.896, 2-2l0-2.7 c 0.426-0.204, 0.824-0.448, 1.198-0.73l 6.138,6.138 c 0.196,0.196, 0.452,0.292, 0.708,0.292s 0.512-0.098, 0.708-0.292c 0.39-0.39, 0.39-1.024,0-1.414l-6.142-6.142 C 25.472,21.988, 26,20.56, 26,19c0-2.788-1.642-5.174-4-6.3L 22,2 c0-1.104-0.896-2-2-2L 2,0 C 0.896,0,0,0.896,0,2l0,26 C0,29.104, 0.896,30, 2,30z M 19,24C 16.244,24, 14,21.756, 14,19S 16.244,14, 19,14S 24,16.244, 24,19S 21.756,24, 19,24z M 2,2l 18,0 l0,10 L 5.286,12 C 4.576,12, 4,12.448, 4,13C 4,13.552, 4.576,14, 5.286,14l 8.826,0 C 13.038,15.048, 12.326,16.444, 12.1,18L 5,18 C 4.448,18, 4,18.448, 4,19 C 4,19.552, 4.448,20, 5,20l 7.1,0 c 0.49,3.388, 3.376,6, 6.9,6c 0.342,0, 0.67-0.054, 1-0.1L 20,28 L 2,28 L 2,2 zM 5,8l 12,0 C 17.552,8, 18,7.552, 18,7C 18,6.448, 17.552,6, 17,6l-12,0 C 4.448,6, 4,6.448, 4,7C 4,7.552, 4.448,8, 5,8z"></path>
        </g>
      </svg>
    </button>
    <button class="plugin-vmsg" title="Voice Message. Click to create">
      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" style="width:18px; height:18px; fill:var(--muc-toolbar-btn-color);">
        <g>
          <path d="M 14,25.808L 14,30 L 11,30 C 10.448,30, 10,30.448, 10,31C 10,31.552, 10.448,32, 11,32l 4.98,0 L 16.020,32 l 4.98,0 c 0.552,0, 1-0.448, 1-1c0-0.552-0.448-1-1-1L 18,30 l0-4.204 c 4.166-0.822, 8-4.194, 8-9.796L 26,13 C 26,12.448, 25.552,12, 25,12 S 24,12.448, 24,13L 24,16 c0,5.252-4.026,8-8,8c-3.854,0-8-2.504-8-8L 8,13 C 8,12.448, 7.552,12, 7,12S 6,12.448, 6,13L 6,16 C 6,21.68, 9.766,25.012, 14,25.808zM 16,20c 2.21,0, 4-1.79, 4-4L 20,4 c0-2.21-1.79-4-4-4S 12,1.79, 12,4l0,12 C 12,18.21, 13.79,20, 16,20z"></path>
        </g>
      </svg>
    </button>
    <button class="plugin-screencast" title="ScreenCast. Click to start and stop">
      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" style="width:18px; height:18px; fill:var(--muc-toolbar-btn-color);">
        <g>
          <path d="M 30,2L 2,2 C 0.896,2,0,2.896,0,4l0,18 c0,1.104, 0.896,2, 2,2l 9.998,0 c-0.004,1.446-0.062,3.324-0.61,4L 10.984,28 C 10.44,28, 10,28.448, 10,29C 10,29.552, 10.44,30, 10.984,30l 10.030,0 C 21.56,30, 22,29.552, 22,29c0-0.552-0.44-1-0.984-1l-0.404,0 c-0.55-0.676-0.606-2.554-0.61-4L 30,24 c 1.104,0, 2-0.896, 2-2L 32,4 C 32,2.896, 31.104,2, 30,2z M 14,24l-0.002,0.004 C 13.998,24.002, 13.998,24.002, 14,24L 14,24z M 18.002,24.004L 18,24l 0.002,0 C 18.002,24.002, 18.002,24.002, 18.002,24.004z M 30,20L 2,20 L 2,4 l 28,0 L 30,20 z"></path>
        </g>
      </svg>
    </button>
    <button class="plugin-galene" title="Galene Conference/Webinar">
      <svg viewBox="0 0 452.388 452.388" xml:space="preserve" style="width:20px; height:20px; fill:var(--muc-toolbar-btn-color);">
        <g>
          <g id="Layer_8_38_">
            <path d="M441.677,43.643H10.687C4.785,43.643,0,48.427,0,54.329v297.425c0,5.898,4.785,10.676,10.687,10.676h162.069v25.631 			c0,0.38,0.074,0.722,0.112,1.089h-23.257c-5.407,0-9.796,4.389-9.796,9.795c0,5.408,4.389,9.801,9.796,9.801h158.506 			c5.406,0,9.795-4.389,9.795-9.801c0-5.406-4.389-9.795-9.795-9.795h-23.256c0.032-0.355,0.115-0.709,0.115-1.089V362.43H441.7 			c5.898,0,10.688-4.782,10.688-10.676V54.329C452.37,48.427,447.589,43.643,441.677,43.643z M422.089,305.133 			c0,5.903-4.784,10.687-10.683,10.687H40.96c-5.898,0-10.684-4.783-10.684-10.687V79.615c0-5.898,4.786-10.684,10.684-10.684 			h370.446c5.898,0,10.683,4.785,10.683,10.684V305.133z M303.942,290.648H154.025c0-29.872,17.472-55.661,42.753-67.706 			c-15.987-10.501-26.546-28.571-26.546-49.13c0-32.449,26.306-58.755,58.755-58.755c32.448,0,58.753,26.307,58.753,58.755 			c0,20.553-10.562,38.629-26.545,49.13C286.475,234.987,303.942,260.781,303.942,290.648z"></path>
          </g>
        </g>
      </svg>
    </button>
    <button class="muc-info-icon" title="More Information">
      <converse-icon class="fa fa-info-circle" size="1em">
        <svg style="width: 1em; height: 1em;">
          <use href="#icon-info-circle"></use>
        </svg>
      </converse-icon>
    </button>
  </span>
  <!--?lit$36149099021$-->
  <button type="submit" class="btn send-button" title="Send the message">
    <converse-icon color="var(--toolbar-btn-text-color)" class="fa fa-paper-plane" size="1em">
      <svg style="width: 1em; height: 1em; fill: white;">
        <use href="#icon-paper-plane"></use>
      </svg>
    </converse-icon>
  </button>
</converse-chat-toolbar>
<converse-muc-message-form jid="jdev@muc.xmpp.org">
  <form class="setNicknameButtonForm hidden">
    <input type="submit" class="btn btn-primary" name="join" value="Join">
  </form>
  <form class="sendXMPPMessage">
    <input type="text" placeholder="Optional hint" value="" class="hidden spoiler-hint">
    <div class="suggestion-box">
      <ul class="suggestion-box__results suggestion-box__results--above" hidden=""></ul>
      <textarea autofocus="" type="text" class="chat-textarea suggestion-box__input
chat-textarea-send-button
" placeholder="Message" aria-autocomplete="list"></textarea>
      <span class="suggestion-box__additions visually-hidden" role="status" aria-live="assertive" aria-relevant="additions"></span>
    </div>
  </form>
</converse-muc-message-form>